<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756305562886-r4pmgf4r37icjfosgb6mbkpdhr2slbdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756305562886-r4pmgf4r37icjfosgb6mbkpdhr2slbdo</string>
	<key>API_KEY</key>
	<string>AIzaSyDrsAGDBgCZPMPu-MAJ6eeVbJyYLSBW5b0</string>
	<key>GCM_SENDER_ID</key>
	<string>756305562886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.additup.EventManagerApp</string>
	<key>PROJECT_ID</key>
	<string>eventmanagerapp-90219</string>
	<key>STORAGE_BUCKET</key>
	<string>eventmanagerapp-90219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756305562886:ios:fe9fc7f07c36435c0ca287</string>
</dict>
</plist>